* {
    font: 12pt "Pixel Code";
}

QLabel[maincpuViewerLabel="true"] {
    font-weight: bold;
}
QToolTip { 
    font-size: 8pt;
}


QLabel[disassemblyViewerEntryLabel="true"] {
    font-size: 10pt;
}